<template>
  <default-field :field="field" :errors="errors">
    <template slot="field">
      <div class="flex flex-col adore-resource-multiselect-field">
        <multiselect
          v-model="value"
          :track-by="this.idColumn"
          :label="this.label"
          :options="options"
          :max="field.max || null"
          :placeholder="dependentFieldValue || 'Select option'"
          :close-on-select="false"
          :loading="isLoading"
          :multiple="true"
          @search-change="getOptions"
        />
      </div>
      <!--<pre class="language-json"><code>{{ value  }}</code></pre> -->
    </template>
  </default-field>
</template>

<script>
import Multiselect from "vue-multiselect";
import { FormField, HandlesValidationErrors } from "laravel-nova";
import FieldValues from "../mixins/FieldValues";
export default {
  mixins: [FormField, HandlesValidationErrors, FieldValues],
  props: ["resourceName", "resourceId", "field"],
  components: {
    Multiselect
  },
  data() {
    return {
      isLoading: false,
      ajaxTimeout: null,
      dependentFieldValue: null
    };
  },
  computed() {},
  mounted() {
    
  },
  methods: {
    async setInitialValue() {
      if (this.field.contentType) {
        this.dependentFieldValue = this.field.contentType
      } else {
          this.registerDependencyWatchers(
            this.$parent,
            this.field.dependencyField,
            function(value) {
              this.updateDependencyFieldValue(value)
            }
          );
      }
     
      this.setValueFromField();
      await this.setInitialOptions(this.dependentFieldValue);
    },
    fill(formData) {
      let value = this.value.map(item => {
        return item[this.idColumn];
      });
      formData.append(this.field.attribute, JSON.stringify(value) || []);
    },
    handleChange(value) {
      this.value = value;
    },
    updateDependencyFieldValue(value) {
      this.dependentFieldValue = value;
      this.value = "";
    },
    registerDependencyWatchers(root, elemName, callback) {
      callback = callback || null;
      let value = null;
      root.$children.forEach(component => {
        if (
          component.field !== undefined &&
          component.field.attribute &&
          component.field.attribute.includes(elemName)
        ) {
          let attribute = "value";
          value = component.field.value;
          component.$watch(
            attribute,
            value => {
              this.updateDependencyFieldValue(value);
            },
            { immediate: true }
          );
        }
      });
      if (callback !== null) {
        callback.call(this, value);
      }
    },
    getOptions(query) {
      if (query !== "" && this.field.router) {
        this.isLoading = true;

        clearTimeout(this.ajaxTimeout);
        this.ajaxTimeout = setTimeout(() => {
          Nova.request()
            .get(this.field.router, {
              params: {
                contentType: this.dependentFieldValue,
                limit: this.field.maxOptions,
                query: query
              }
            })
            .then(response => {
              this.options = response.data;
              this.isLoading = false;
            })
            .catch(error => {
              this.isLoading = false;
            });
        }, 400);
      } else {
        console.error("please set router to retrieve options");
      }
    }
  }
};
</script>